* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: Karla;
  color: #001533;
  max-width: 500px;
  margin: 0 auto;
}
.load-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: #06bd51;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  justify-content: center;
  transition: 0.3s left;
}
.load-screen-off {
  left: -100%;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 610px;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
  overflow-y: auto
}

.block {
  height: 50vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.block1 {
  padding: 2vh 0;
}
.block2{
  min-height: 357px;
}
.logo {
  position: absolute;
  height: 10%;
  max-width: 50vw;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  object-fit: contain;
}

.greeting,
.form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greeting {
  position: absolute;
  height: 35%;
  /* min-height: 156px; */
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  object-fit: contain;
}
@media screen and (max-height:520px){
  .greeting{
    height: 60%;
  }
}
.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  padding: 0 2.5vw;
}
.input-field {
  width: 100%;
  margin-bottom: 0.5em;
}
.input-field,
.select-field {
  min-height: 50px;
  -webkit-appearance: none; /* Отключение нативной стилизации на WebKit браузерах */
  -moz-appearance: none; /* Отключение нативной стилизации на Firefox */
  appearance: none;
  border-radius: 5px;
  padding: 1% 5%;
  border: 1px solid #d9d9d9;
  background: white;
  color: black;
  font-size: 4vw;
  transition: 0.3s;
  outline: none;
}

.input-row {
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
  gap: 1.2vw;
  height: 100%;
  max-height: calc(70% / 5);
}
.input-field,
.input-numbers,
.password-wrapper,
.form-btns {
  flex-grow: 1;
  height: 100%;
  max-height: calc(70% / 5);
}

.input-row-items {
  max-height: 100%;
  margin: 0;
}
.select-field {
  width: 25%;
  height: 100%;
  background-image: url("./public/down-arrow-svgrepo-com.svg");
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: auto 15px;
}

.input-numbers {
  width: 74%;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 100%;
}
.password-wrapper .input-field {
  width: 100%;
  max-height: 100%;
  padding-right: 15vw;
}
.toggle-password {
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.2em;
  height: 100%;
}
.toggle-password img {
  height: 60%;
}
/* Если вам нужно учесть это в стиле .input-field */
.input-field {
  padding-right: 40px; /* дает место для значка внутри поля ввода */
}

.footer {
  height: 20%;
  padding: 2% 0;
}
.recordar {
  font-size: 4vw;
}
.forgot-link {
  margin-left: auto;
  color: #06bd51;
  font-size: vw;
  font-weight: 500;
}
.footer-register {
  text-align: center;
  font-size: 2vh;
}
.registrate-aqui {
  color: #06bd51;
  font-weight: 500;
}
.social-list {
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: 2vh;
}
.social-separator {
  width: 1px;
  height: 30px;
  background-color: #d9d9d9;
}
.social-item {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #06bd51;
  font-weight: 500;
}
.social-item img {
  width: 3vh;
}
.form-btns {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fingerprint {
  width: 12vw;
  height: 12vw;
  left: 2vw;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.finger_black {
  filter: grayscale(80%);
}
.fingerprint img {
  width: 120%;
}
.submit-button {
  background-color: #06bd51;
  color: white;
  text-align: center;
  border: none;
  font-size: 3vh;
  height: 100%;
  width: 50vw;
  border-radius: 5px;
}
.forget-form {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: top 0.3s ease-in-out;
  display: none
}
.forget-form-header {
  text-align: center;
  position: relative;
  font-weight: 600;
  padding: 3%;
  font-size: 2.2vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 15px 0px;
}
.back-icon {
  position: absolute;
  width: 5vw;
  left: 5%;
}
.forget-form .form {
  min-height: 190px;
  height: 30%;
}
.forget-form-text {
  text-align: left;
  width: 100%;
  font-size: 2.5vh;
  margin-bottom: 3%;
}
.forget-form-btn {
  position: absolute;
  bottom: 5%;
  height: auto;
  padding: 3% 2%;
  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: bold;
  width: 95%;
}
.forget-form-btn:disabled {
  background: #eceeed;
}

.openup {
  display: none;
  top: 200% !important;
}

/* Затемненный фон */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  opacity: 0; /* начальное состояние */
  transition: opacity 0.3s ease-in-out; /* добавляем плавный переход */
}

/* Содержимое модального окна */
.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-height: 50vh;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  text-align: center;
}

/* Кнопка закрыть */
.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}
.popup-icon {
  width: 25vw;
}
.popup-text {
  margin-top: 2vh;
  font-size: 2.5vh;
}
.popup-message {
  margin-top: 0.5vh;
  font-size: 2vh;
}
.popup-button {
  width: 100%;
  border: none;
  margin-top: 1.2vh;
  font-size: 2vh;
  color: white;
  background: #06bd51;
  border-radius: 5px;
  padding: 1.2vh;
}


.permiso {
  text-align: center;
}
.permiso .logo{
height: 7%;
}
.permiso-title {
  font-size: 3.5vh;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translateX(-50%);
}
.permiso-img {
  position: absolute;
  height: 30%;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  object-fit: contain;
}
.permiso-text {
  padding: 3% 5%;
  font-weight: normal;
  font-size: 2.5vh;
}
.permiso-block-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.permiso-btn {
  background-color: #06bd51;
  color: white;
  text-align: center;
  border: none;
  font-size: 2.5vh;
  width: 50vw;
  border-radius: 5px;
  padding: 4% 5%;
  margin-top: 3%;
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  background-color: rgba(214, 214, 214, 0.5);
}

.loader-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: auto;
}

.loader-circle {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #06bd51;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.green-border,
.focus-green-border:focus {
  border: 2px solid green !important;
}
.btn-active{
  transition: background-color 0.3s ease, transform 0.3s ease; /* Добавим анимацию */
}
/* Изменение цвета при наведении */
.btn-active:hover {
  background-color: #05a845;
}

/* Эффект "нажатия" при клике */
.btn-active:active {
  background-color: #038d36;
  transform: scale(0.97); /* немного уменьшим размер */
}

/* Эффект фокуса при навигации с клавиатуры или клике */
.btn-activen:focus {
  outline: none; /* убираем стандартный outline */
  box-shadow: 0 0 0 3px rgba(6, 189, 81, 0.3); /* добавляем свой */
}